.bodyContainer {
    background: url('../public/sky.jpg');
    height: 600px;
    opacity: 0.7;
}

.searchCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchForm {
    margin: 10vh;
    padding: 40px;
    border: 1px solid white;
    background-color: rgba(22, 92, 109, 0.5);
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 inset rgb(0, 0, 0);
}

.searchNav {
    display: flex;
}

.searchNav a {
    color: white;
    padding: 10px;
}

.searchNav a:focus {
    background-color: orangered;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 3px 6px 0 gray;
}

form {
    display: flex;
    align-items: center;
}

input {
    padding: 7px;
    margin: 10px;
    height: 30px;
    border-radius: 4px;
    width: 200px;
    outline: none;
    border: none;
}

button {
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: orangered;
    color: white;
    font-size: 1.2em;
    outline: none;
    border: none;
}

button:hover {
    background-color: rgb(182, 46, 4);
}

.loupe {
    color: white;
    font-size: 1.5em;
}

.control {
    background-color: red;
}