a {
    text-decoration: none;
    margin: 10px;
}

i {
    font-size: 1.5em;
}

.headContent {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(32, 118, 216);
}

.headContent a {
    color: white;
}

.headInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.headInfo span {
    font-size: 1.8em;
    margin: 10px;
}

.navHead {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 0 0 rgb(230, 230, 230);
    margin: 10px;
   
}

.navHead i {
    color: black;
    margin: 10px;
}

.headInfoIcons {
    display: flex;
    justify-content: space-around;
    font-size: 0.8em;
    color: white;
}

.headInfoNav {
    font-size: 0.8em;
    margin-right: 15px;
}