a {
    text-decoration: none;
    margin: 10px;
}

i {
    font-size: 1.5em;
}

.headContent {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: blue;
}

.headContent a {
    color: white;
}

.headInfo {
    display: flex;
    flex-direction: column;
}

.navHead {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 6px 0 rgb(163, 163, 163);
}
